.card-container {
  background-color: #28a745;
  height: 100vh;
  width: calc(90vw - 15vw);
  position: relative;
  left: 10vw;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}