.card-container {
  background-color: #28a745;
  height: calc(100vh - 30vh);
  width: calc(100vw - 25vw);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}