.card-container {
  background-color: #28a745;
  height: calc(100vh - 30vh);
  width: calc(100vw - 25vw);
  position: relative;
  left: 10vw;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 8px;
}
