.footer {
  background-color: #00a6ec;
  height: 20vh;
  width: calc(90vw - 15vw);
  position: relative;
  left: 10vw;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}