.news-sidebar {
  background-color: #7d0014;
  width: 19vw;
  height: calc(100vh - 5vh);
  position: fixed;
  top: 60px;
  right: 0;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
