.news-sidebar {
  background-color: white;
  width: 30%;
  height: calc(100vh - 5vh);
  position: absolute;
  /* top: 60px; */
  top: calc(100vh - 80vh);
  right: 0;
  color: white;
  font-weight: bold;
  display: flex;
  /* justify-content: center;
  align-items: center;
  text-align: center;*/
}

.ultime-novita {
  background-color: white;
  width: 130%;
  border: 5px solid #e5e7eb;
  padding: 18px;
  font-size: 16px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.news-list {
  width: 130%;
  list-style: none;
  padding: 8px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}
.news-item {
  border: 5px solid #e5e7eb;
  padding: 6px;
  border-bottom: 0px;
  /* margin: 10px; */
}

.news-item a {
  display: flex;
  text-decoration: none;
  color: inherit;
  /* gap: 12px; */
}
.news-item img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.news-info {
  margin-bottom: 15px;
  margin-left: 10px;
}

.news-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.2px;
  color: #999999;
  font-weight: 250;
}

.news-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 4px;
  /* line-height: 1.2; */
  color: #333;
  margin: 0px;
}
.news-title:hover {
  text-decoration: underline;
}
.news-description {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
}

.piu-notizie {
  background-color: white;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: 5px solid #e5e7eb;
  padding: 6px;
  padding-left: 320px;
  margin-top: 0px;
}
