.news-sidebar {
  background-color: white;
  width: 35%;
  height: calc(100vh - 5vh);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 0 10px 0;
}

.news-first-li-element {
  background-color: white;
  border: 5px solid rgb(239, 239, 239);
  border-bottom: 0px;
  padding: 10px;
  font-size: 16px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  display: flex;
}

.news-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.news-item {
  border: 5px solid rgb(239, 239, 239);
  padding: 6px;
  border-bottom: 0px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.news-item a {
  display: flex;
  text-decoration: none;
}
.news-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.news-info {
  margin-bottom: 15px;
  margin-left: 10px;
}

.news-date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.2px;
  color: #999999;
  font-weight: 250;
}

.news-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 4px;
  color: #333;
  margin: 0px;
}
.news-title:hover {
  text-decoration: underline;
}
.news-description {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
}

.side-writting {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: 5px solid rgb(239, 239, 239);
  padding: 15px;
  padding-right: 15px;
  margin-top: 0px;
  text-decoration: none;
}
.side-writting:hover {
  text-decoration: underline;
}
.news-svg {
  width: 10px;
  height: 10px;
  padding: 15px;
  margin-top: auto;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 6px;
  color: rgb(51, 51, 51);
  background-color: rgb(239, 239, 239);
  border-color: rgb(239, 239, 239);
  text-decoration: none;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.news-svg:hover {
  background-color: rgb(252, 252, 252);
  border-color: rgb(252, 252, 252);
  cursor: pointer;
}
.little-rectangle {
  width: 4px;
  height: 35px;
  background-color: rgb(239, 239, 239);
  margin-right: 8px;
  border-radius: 1px;
}
.news-first-title {
  margin-top: 9px;
  font-size: 16px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
